ion-footer( no-border, mode="ios" )
  .tabs-nav-wrapper
    button.nav-link(tappable, (click)="goToPage('MyKtsPage', $event)", [ngClass]="activeLink('my-kts')")
      .nav-link-icon([inlineSVG]="navIcon('my-kts', 'icon/my-kts')")
      .nav-link-title() My KTS
    button.nav-link(tappable, (click)="goToPage('PrizesPage', $event)", [ngClass]="activeLink('prizes')")
      .nav-link-icon([inlineSVG]="navIcon('prizes', 'icon/prizes')")
      .nav-link-title Prizes
    button.nav-link(tappable, (click)="goToPage('ScholarshipsPage', $event)", [ngClass]="activeLink('scholarships')")
      .nav-link-icon([inlineSVG]="navIcon('scholarships', 'icon/scholarships')")
      .nav-link-title Scholarships
    button.nav-link(tappable, (click)="goToPage('CareersPage', $event)", [ngClass]="activeLink('careers')")
      .nav-link-icon([inlineSVG]="navIcon('careers', 'icon/careers')")
      .nav-link-title Careers
    button.nav-link(tappable, (click)="navPush('MorePage')", [ngClass]="activeLink('more')")
      .nav-link-icon([inlineSVG]="moreIcon()")
      .nav-link-title More