.header-nav
  .input-label.campaign-title
    | CAMPAIGNS
  button.primary-button.prizes-btn.campaign-btn(type = "button" [ngClass]="{'btn-disabled': !prizeId, 'feedback-btn': prizeId}" [disabled]="!prizeId" (click)='openModal(template)') 
    span
      | New campaign 
.d-flex.space-between.py-1
    .table-header.mx-4.col-start-date
      | Start Date
    .table-header.mx-4.col-end-date
      | End Date
    .table-header.mx-4.col-quantity
      | Quantity    
    .table-header.mx-4.col-redeemed
      | Redeemed
    .table-header.mx-4.col-redeemed
      | Released
    .table-header.mx-4.col-status
      | Status
    .table-header.mx-4.col-edit
      | &nbsp;
.table-content-with-search
  .list(*ngFor="let campaign of campaigns; let ind = index" [ngClass]="{'current-status': getStatus(campaign.activation_start, campaign.activation_end) === 'Current'}")
    .d-flex.space-between.bg-white.py-1.pointer()
      .table-data.mx-4.col-start-date
        | {{formatDate(campaign.activation_start)}}
      .table-data.mx-4.col-end-date
        | {{formatDate(campaign.activation_end)}}
      .table-data.mx-4.col-quantity
        | {{campaign.number_available}}
      .table-data.mx-4.col-redeemed
        | {{campaign.redeemed}}
      .table-data.mx-4.col-redeemed
        | {{campaign.released}}
      .table-data.mx-4.col-status
        | {{getStatus(campaign.activation_start, campaign.activation_end)}}
      .table-data.mx-4.col-delete
        i.fa.fa-pencil.edit-row((click)='openModal(template, ind)' [hidden]="getStatus(campaign.activation_start, campaign.activation_end) === 'Past'")
  ng-template(#template)
    .modal-header.active-modal-header
      h6.modal-title
        | {{modalTitle}}
      button.close((click)='modalRef.hide()',aria-label='close')
        span(aria-hidden='true')
          | &times;
    .modal-body.active-modal-body
      form.form-group(#campaignForm="ngForm" (ngSubmit)="saveCampaign(campaignForm.valid)" novalidate)
        .input-label
          | START DATE
          .invalid-validation([hidden]="startDate")
            | Start Date is required      
        input.form-control(name="start-date" [disabled]="campaignId > 0" [minDate]="minDate"  #dp="bsDatepicker" bsDatepicker [(bsValue)]="startDate" (bsValueChange)="onValueChange($event)" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }")        
        .input-label
          | END DATE
          .invalid-validation([hidden]="endDate")
            | End Date is required
        input.form-control(name="end-date" [disabled]="campaignId > 0" [minDate]="startDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="endDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }")        
        .input-label([hidden]="campaignId === 0")
          | REDEEMED
        input.input.redeemed-input(name="redeemed" disabled [ngModel]="redeemed" [hidden]="campaignId === 0")

        .input-label([hidden]="campaignId === 0")
          | RELEASED
        input.input.redeemed-input(name="released" disabled [ngModel]="released" [hidden]="campaignId === 0")

        .input-label
          | QUANTITY
          .invalid-validation([hidden]="qty.valid || (qty.pristine && !campaignForm.submitted)")
            | Quantity is required
          .invalid-validation([hidden]="!editFlag || !qty.valid || checkValue() || (qty.pristine && !campaignForm.submitted)")
            | Quantity cannot be less than redeemed.
        input.input(type="number" name="qty" [(ngModel)]='quantity' #qty="ngModel" required)          
        .button-group 
          button.prizes-btn.primary-button.feedback-btn(type = "submit")
            span
              | Save
          button.prizes-btn.delete-btn.primary-button.feedback-btn([tooltip]="tooltip(redeemed)" [ngClass]="{'btn-disabled': redeemed > 0}" type = "button" (click)='deleteCampaign( id, prizes_id)')
            span
              | Delete
          button.prizes-btn.secondary-button.feedback-btn(type = "button" (click)='modalRef.hide()')
            span
              | Cancel