.page-wrapper
  .spinner-container(*ngIf="loading")
    ion-spinner
  .filter-list-page-wrapper
    ion-col.web-filter-col(col-4)
      filter-internships(*ngIf="pageToggle")
      filter-opportunities(*ngIf="!pageToggle")
    ion-col.lp-list-col(col-12 col-md-8)
      mobile-header([isScrolled]="isScrolled", [title]="title")
      ion-searchbar.kts-searchbar(*ngIf="pageToggle", (ionInput)="search('Internship', $event)", [debounce]="400", placeholder="Search Internships...", mode="ios")
      ion-searchbar.kts-searchbar(*ngIf="!pageToggle", (ionInput)="search('Other', $event)", [debounce]="400", placeholder="Search opportunities...", mode="ios")
      .lp-tabs-wrapper
        .lp-tab.lp-tab--left((click)="toggle(true)", [ngClass]="{'active-tab': pageToggle}")
          | INTERNSHIPS
        .lp-tab.lp-tab--right((click)="toggle(false)", [ngClass]="{'active-tab': !pageToggle}")
          | OTHER OPPORTUNITIES
      ion-content.lp-list
        .lp-item(*ngFor="let opportunity of opportunitiesList; let i = index", (click)="goToDetailPage(opportunity.id)")
          img.lp-item-image(src="{{imageUrlCreate(opportunity.organization_id, opportunity.organization.images[0])}}" alt="Image not found" onerror="this.onerror=null;this.src='assets/icon/opportunity_placeholder.svg'")
          .lp-item-info-col
            .lp-item-title
              | {{opportunity.title}}
            .lp-item-value
              | {{opportunity.organization.name}}
            .lp-item-description
              | {{opportunity.details}}
        ion-infinite-scroll((ionInfinite)="doInfinite($event)" )
          ion-infinite-scroll-content
            ion-spinner(name="ios")
  .floating-filter-btn((click)="openFilterModal()")
    | Refine