.form-position  
  .signup-header-wrapper(*ngIf="formOneDone")
    .kts-header((click)="back()")
      .arrow-left(*ngIf="formOneDone") &#10216;
      .signup(*ngIf="formOneDone") Sign Up
    .next(*ngIf="formOneDone", (click)="signup(signupForm.valid)") Submit
  .signup-header-wrapper(*ngIf="!formOneDone") 
    .kts-header((click)="backHome()")
      .arrow-left(*ngIf="!formOneDone") &#10216;
      .signup     
        | Sign Up 
    .next(*ngIf="!formOneDone", (click)="next(signupForm.valid)") Next
  form(*ngIf="!formOneDone", [formGroup]="signupForm" )
    

    ion-label.kts-input-label.kts-input-label.label-with-validation(stacked)
      | USERNAME
      .invalid-validation(*ngIf="invalid(signupForm.controls.username)")
        | Please enter a valid username
      .valid-validation(*ngIf="valid(signupForm.controls.username)")
        ion-icon(ios="md-checkmark", md="md-checkmark")
    ion-input.kts-input( formControlName="username", [(ngModel)]="user.username", type="text" )
    

    ion-label.kts-input-label.label-with-validation(stacked)
      | PASSWORD
      .invalid-validation(*ngIf="invalid(signupForm.controls.password)")
        | Please enter a valid password
      .valid-validation(*ngIf="valid(signupForm.controls.password)")
        ion-icon(ios="md-checkmark", md="md-checkmark")
    ion-input.kts-input( formControlName="password", [(ngModel)]="user.password", type="password" )
    

    ion-label.kts-input-label.kts-input-label.label-with-validation(stacked)
      | FIRST NAME
      .invalid-validation(*ngIf="invalid(signupForm.controls.first_name)")
        | First Name is required
      .valid-validation(*ngIf="valid(signupForm.controls.first_name)")
        ion-icon(ios="md-checkmark", md="md-checkmark")
    ion-input.kts-input( formControlName="first_name", [(ngModel)]="user.first_name", type="text" )
    

    ion-label.kts-input-label.kts-input-label.label-with-validation(stacked)
      | LAST NAME
      .invalid-validation(*ngIf="invalid(signupForm.controls.last_name)")
        | Last Name is required
      .valid-validation(*ngIf="valid(signupForm.controls.last_name)")
        ion-icon(ios="md-checkmark", md="md-checkmark")
    ion-input.kts-input( formControlName="last_name", [(ngModel)]="user.last_name", type="text" )
    
    
    ion-label.kts-input-label.kts-input-label.label-with-validation(stacked)
      | EMAIL
      .invalid-validation(*ngIf="invalid(signupForm.controls.email)")
        | Please enter a valid email address
      .valid-validation(*ngIf="valid(signupForm.controls.email)")
        ion-icon(ios="md-checkmark", md="md-checkmark")
    ion-input.kts-input(  formControlName="email", [(ngModel)]="user.email", type="email", email )
    
    
    ion-label.kts-input-label.kts-input-label.label-with-validation(stacked)
      | SCHOOL
      .invalid-validation(*ngIf="invalid(signupForm.controls.school)")
        | Please choose a school
      .valid-validation(*ngIf="valid(signupForm.controls.school)")
        ion-icon(ios="md-checkmark", md="md-checkmark")
    angular2-multiselect( 
      formControlName="school",
      [data]="schoolList",
      [(ngModel)]="selectedSchool",
      [settings]="ktsSelectSettings",
      (onSelect)="onSchoolSelect($event)"
    )


    ion-label.kts-input-label.kts-input-label.label-with-validation(stacked)
      | GRADUATION YEAR
      .invalid-validation(*ngIf="invalid(signupForm.controls.graduation_year)")
        | Please choose a graduation year
      .valid-validation(*ngIf="valid(signupForm.controls.graduation_year)")
        ion-icon(ios="md-checkmark", md="md-checkmark")
    angular2-multiselect( 
      formControlName="graduation_year",
      [data]="yearList",
      [(ngModel)]="selectedYear",
      [settings]="ktsSelectSettings",
      (onSelect)="onGraduationYearSelect($event)"
    )


  form(*ngIf="formOneDone", [formGroup]="signupForm2")
    ion-label.kts-input-label.kts-input-label.label-with-validation(stacked)
      | BIRTHDAY
      .invalid-validation(*ngIf="invalid2(signupForm2.controls.birthday)")
        | Please choose a valid date
      .valid-validation(*ngIf="valid2(signupForm2.controls.birthday)")
        ion-icon(ios="md-checkmark", md="md-checkmark")
    my-date-picker( formControlName="birthday", [options]="myDatePickerOptions", (dateChanged)="onDateChanged($event)", [(ngModel)]="startBirthday")
    ion-label.kts-input-label.kts-input-label.label-with-validation(stacked)
      | GENDER
      .invalid-validation(*ngIf="invalid2(signupForm2.controls.gender)")
        | Please choose a gender
      .valid-validation(*ngIf="valid2(signupForm2.controls.gender)")
        ion-icon(ios="md-checkmark", md="md-checkmark")
    angular2-multiselect( 
      formControlName="gender",
      [data]="genderList",
      [(ngModel)]="selectedGender",
      (onSelect)="onGenderSelect($event)",
      [settings]="ktsSelectSettings" 
    )
  .onboarding-bottom-section.signup-bottom-section
    .bottom-question
      | Already have an account?
    .bottom-link([navPush]="'LoginPage'")
      | Login
      //- TODO: ADD SVG ICON