.page-wrapper.prizes(appMouseWheel (mouseWheelUp)="mouseWheelUp()" (mouseWheelDown)="mouseWheelDown()")
  #prizes.content-wrapper
    .header-nav
      h1.headers
        | Prizes
      .button-group
        button.prizes-btn.primary-button.feedback-btn((click)='addPrize()', *ngIf="canCreateNewPrize") 
          span
            | New Prizes
        button.prizes-btn.primary-button.feedback-btn((click)='openModal(template)', *ngIf="canActivateKeycard") 
          span
            | Activate Key Cards
        button.prizes-btn.primary-button.feedback-btn((click)='openCsv(csv)', *ngIf="canUseAwardedCsv")
          span
            | Awarded CSV
    .justify-start.newTabs.mb-4
      .sub-nav-item.center.mr-4.newSubNav((click)="switchTab('prizes')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'prizes'}")
        | Prizes
      .sub-nav-item.center.mr-4.newSubNav((click)="switchTab('awardedprizes')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'awardedprizes'}", *ngIf="canViewAwardedPrizes")
        | Awarded Prizes
      .sub-nav-item.center.mr-4.newSubNav((click)="switchTab('keycardindex')" [ngClass]="{'sub-nav-item-selected': selectedTab === 'keycardindex'}", *ngIf="canViewKeycardIndex")
        | Key Card Index
    app-prizesindex(*ngIf="selectedTab === 'prizes'")      
    app-awardedprizesindex(*ngIf="selectedTab === 'awardedprizes'")      
    app-keycardindex(*ngIf="selectedTab === 'keycardindex'")      
    ng-template(#template)
      .modal-header.active-modal-header
        h6.modal-title
          | ACTIVATE KEY CARDS
        button.close((click)='modalRef.hide()',aria-label='close')
          span(aria-hidden='true')
            | &times;
      .modal-body.active-modal-body
        .input-label
          | KEY CARD NUMBER
        input.input([(ngModel)]='cardNumber')
        button.prizes-btn.primary-button.feedback-btn((click)='activate()')
          span
            | Activate
    ng-template(#csv)
      .modal-header.active-modal-header
        h6.modal-title
          | Awarded CSV
        button.close((click)='modalRef.hide()',aria-label='close')
          span(aria-hidden='true')
            | &times;
      .modal-body.active-modal-body([formGroup]="exportForm")
        .checkbox-wrapper
          .checkbox-prizes 
            input.large-checkbox(type='checkbox' [checked]="checked" (change)="check(!checked)" formControlName="allCheck")
          .checkbox-label
            | Print All New Prizes
        p.custom
          | Or Select Custom Date Range Below
        .input-label.mt-1
          | START DATE
        .text-danger.pl-2([hidden]="validPick")
          | Start date must be before end date.
        input.input(type="text" formControlName="startDate" [minDate]="minDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="startDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }")
        .input-label.mt-2
          | END DATE
        input.input(type="text" formControlName="endDate" [minDate]="startDate" #dp="bsDatepicker" bsDatepicker [(bsValue)]="endDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }")
        .button-export
          button.prizes-btn.primary-button.csv.feedback-btn((click)='export()')
            span
              | Export csv